<nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="container-fluid">
            <a routerLink="/" class="navbar-brand">{{"HEADER.Title"| translate}}</a>
            <button class="navbar-toggler" 
                    type="button" 
                    data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a (click)="changeLang('sr')" class="nav-link">
                    <img src="assets/img/icon_flag_serbia.png" alt="serbian">
                </a></li>
                <li class="nav-item"><a (click)="changeLang('en')" class="nav-link">
                    <img src="assets/img/icon_flag_united_kingdom.png" alt="english">
                </a></li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isAuth">
                    <a class="nav-link" routerLink="/recipes">{{"HEADER.Recipes" | translate}}</a></li>
                <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
                    <a class="nav-link" routerLink="/auth">{{"HEADER.Auth" | translate}}</a></li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/shopping-list">{{"HEADER.ShoppingList" | translate}}</a></li>
            </ul>
            <ul class="navbar-nav mr-5" *ngIf="isAuth">
                <li class="dropdown-item py-0" ><a class="nav-link" (click)="onLogOut()">{{"HEADER.LogOut" | translate}}</a></li>
                <li class="nav-item dropdown">
                    <a style="cursor: pointer" 
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false" 
                        appDropdown
                        role="button">{{"HEADER.Manage" | translate}}<span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-item"><a class="nav-link" style="cursor: pointer" (click)="onSaveData()">
                                {{"HEADER.Save" | translate}}</a></li>
                            <li class="dropdown-item"><a class="nav-link" style="cursor: pointer" (click)="onFetchData()">
                                {{"HEADER.Fetch" | translate}}</a></li>
                        </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
